<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Projects.css">
</head>
<body>
    <header>
        <h1>Projects</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Projects">Projects</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </header>
    <h2>Welcome to my Projects Page. Here you can see some of my works/invention:</h2>
    <div id="wrapper">
        <div>
            <img src="~/images/party_van.jpg" alt="The Party Van">
            <p class="projects">The Party Van</p> 
            <p><span>Hey turtles can have fun being fast too ya know!</span></p>
        </div>
        <div>
            <img src="~/images/blimp.jpg" alt="Blimp">
            <p class="projects">Blimp</p> 
            <p><span>Who says turtles can't fly?</span></p>
        </div>
        <div>
            <img src="~/images/metalhead.jpg" alt="Metalhead">
            <p class="projects">Metalhead</p> 
            <p><span>Why not??? It's not like only my shell can be hard.</span></p>
        </div>
        <div>
            <img src="~/images/dream_helmet.jpg" alt="Dream-O-Vision Helmet">
            <p class="projects">Dream-O-Vision Helmet</p> 
            <p><span>Would you like to see your nightmare becomes real? Hehehe</span></p>
        </div>
    </div>
</body>
</html>