@{
    ViewData["Title"] = "Home Page";
}
<h3>Write a New Review:</h3>
<form action="/Add">
    <label for="">Reviewer Name:</label>
    <input name="reviewer" type="text">
    <label for="">Restaurant Name:</label>
    <input name="restaurant" type="text">
    <label for="">Stars:</label>
    <select name="stars" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <p>Review:</p>
    <textarea name="review" id="" cols="30" rows="10"></textarea>
    <label for="">Date of Visit:</label>
    <input name="visitDate" type="date"
    <input type="submit" value="Submit">
</form>