@{
    ViewData["Title"] = "Home Page";
}

@model thewall.Models.User
<div asp-validation-summary="All"></div>

<h1>Enter Your Information~</h1>
<form asp-controller="Wall" asp-action="Register" method="post">
    <label asp-for="FirstName">First Name:</label> <input type="text" asp-for="FirstName"> </br>
    <label asp-for="LastName">Last Name:</label> <input type="text" asp-for="LastName"></br>
    <label asp-for="Email">Email:</label> <input type="text" asp-for="Email"></br>
    <label asp-for="Password">Password:</label> <input type="password" asp-for="Password"></br>
    <label asp-for="Password_conf">Password:</label> <input type="password" asp-for="Password_conf"></br>
    <input type="submit" value="Submit">
</form>

<form action="/login" method="post">
    <label for="email">Email</label>
    <input type="text" name="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="">
    <input type="submit" value="Log in">
</form>

@{
    if(ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
}