<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
  </head>
  <body>
    <p><a href="/books">Home</a>  <a href="/logout">Logout</a></p>
    <h3>{{book.title}}</h3>
    <h4>Author:
      {% for author in authors %}
        ({{author.name}})
      {% endfor %}
    </h3>
    <main>
      <h4>Reviews:</h4>
      {% for review in reviews%}
        <div class="review">
          <p>Rating: {{review.rating}} stars</p>
          <p><a href="users/{{review.user.id}}">{{review.user.first_name}}</a> says: {{review.review}}</p>
          <p>Posted on {{review.created_at}}
            {% if review.user.id == user.id %}
              <a href="/delete_review/{{review.id}}">Delete this Review</a>
            {% endif %}
          </p>
        </div>
      {%endfor%}
    </main>
    <section>
      <form class="" action="/post_review" method="post">
        {% csrf_token %}
        <label for="">Add a Review:</label></br>
          <textarea name="review" rows="6" cols="50"></textarea></br>
        <label for="">Rating:
          <select class="" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          stars.
        </label>
        <input type="hidden" name="book_id" value="{{book.id}}">
        <input type="submit" name="" value="Add Book and Review">
      </form>
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </section>
  </body>
</html>
